services:
  postgres:
    image: postgres:16
    command: >
      postgres
      -c password_encryption=md5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: htl
    ports:
      - "5432:5432"

  pgbouncer:
    image: edoburu/pgbouncer
    depends_on: [postgres]
    ports:
      - "6432:6432"
    volumes:
      - ./pgbouncer:/etc/pgbouncer

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/nginx.conf
