services:

  postgres:
    image: postgres:16
    command: >
      postgres
      -c password_encryption=md5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: htl
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgbouncer:
    image: edoburu/pgbouncer
    depends_on:
      - postgres
    ports:
      - "6432:6432"
    volumes:
      - ./pgbouncer:/etc/pgbouncer

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"

    extra_hosts:
      - "host.docker.internal:host-gateway"

    volumes:
      - ./nginx/nginx.local-lb.conf:/etc/nginx/nginx.conf:ro

    depends_on:
      - redis
      - pgbouncer

volumes:
  pg_data:
