services:

  postgres:
    image: postgres:16
    command: >
      postgres
      -c password_encryption=md5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: htl
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:postgres@postgres:5432/htl?sslmode=disable"
    ports:
      - "9187:9187"

  redis-exporter:
    image: oliver006/redis_exporter
    environment:
      REDIS_ADDR: redis://redis:6379
    ports:
      - "9121:9121"

  pgbouncer-exporter:
    image: prometheuscommunity/pgbouncer-exporter
    environment:
      PGBOUNCER_DSN: "postgres://postgres:postgres@pgbouncer:6432/pgbouncer"
    ports:
      - "9127:9127"

  pgbouncer:
    image: edoburu/pgbouncer
    depends_on:
      - postgres
    ports:
      - "6432:6432"
    volumes:
      - ./pgbouncer:/etc/pgbouncer

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"

    extra_hosts:
      - "host.docker.internal:host-gateway"

    volumes:
      - ./nginx/nginx.local-lb.conf:/etc/nginx/nginx.conf:ro

    depends_on:
      - redis
      - pgbouncer

volumes:
  pg_data:
